@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap');

/* Variables */
:root {
    /* height */
    --header-height: 3rem;

    /* Colors */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --main-color: #01CECE;
    --main-color-alt: #04b9b9;
    --container-color: #fff;


    /* .5rem = 8px | 1rem = 16px */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .625rem;

    /* Font Weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margin Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

/* Responsive typography */
@media screen and (max-width:992px) {
    :root {
        --big-font-size: 2.5rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/* _Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Tajawal', sans-serif;
}

::selection {
    color: var(--container-color);
    background: var(--title-color);
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: 'Tajawal', sans-serif;
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--container-color);
    color: var(--text-color);
    font-family: 'Tajawal', sans-serif;
}


h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: #ccc;
}

html::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

p {
    color: #999;
}

/* Reusable css Classes */
.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-block-end: 4rem;
    color: #888;
}

.section__subtitle,
.section__title {
    text-align: center;
}

/* Layout */



/* For Large Devices */
@media (max-width:992px) {

    .button {
        padding: 1rem 1.75rem;
    }

    .button__icon {
        width: 22px;
        height: 22px;
    }
}

/* For Medium Devices */
@media (max-width:768px) {
    body {
        margin: 0 0 var(--header-height) 0;
    }

    .section {
        padding: 2rem 0 4rem;
    }

    .section__subtitle {
        margin-block-end: var(--mb-3);
    }
}

/* For Small Devices */
@media (max-width:350px) {
    :root {
        --big-font-size: 2.25rem;
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* Buttons */
.button {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--container-color);
    padding: .5rem 2.5rem;
    border-radius: 30px;
    font-weight: var(--font-medium);
    transition: 0.3s;
    font-size: 1rem;
    font-family: 'Tajawal';
}

.button:hover {
    background-color: var(--main-color-alt);
    color: var(--container-color);
}

.button__icon {
    margin-inline-start: var(--mb-0-5);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}